<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Safe 4 Schools- Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
  <!--/// HEADER /// -->
  <header>

  <!--/// Social Media Bar //-->
    <div class="social">
      <nav>
        <a href=""><img src="img/twitter.png"></a>
        <a href=""><img src="img/facebook.png"></a>
        <a href=""><img src="img/link-grey.png" class= "linkedin"></a>
      </nav>   
    </div>
  <!--/// End of Social Media Bar ///-->
    <!--/// Nav Bar ///-->
    <div id="nav_bar" class = "light-fade">
      <nav class = "clearfix">
        <a href="index.erb">HOME</a>
        <a 
        <a href="about.html">ABOUT</a>
        <a href="contact.erb">CONTACT</a>
      </nav>
    </div>
    <!--/// End of Nav Bar ///-->

    <!--// Title & Logo //-->
    <div>
      <a href="index.erb" id="logo">
        <h1>SAFE-4-SCHOOLS</h1> 
        <h2>Is this song classroom appropriate?</h2>
      </a>
    </div>
    <!--// End of Title & Logo //-->
  </header>

  <!--// End of HEADER //-->

  <!--// BODY //-->
  <section class="wrapper clearfix">
    <video id="background_video" width="100%" loop="loop" preload="auto" autoplay="true">
      <source src="Alright.mp4" type="video/mp4">
    </video>
    <!--// FEATURE ARTICLE //-->
    <div id="wrapper" class="clearfix">
      <h2 class = "feature">
      <br>
      <br>
      </h2>
      <section>
        <form method="POST" action="/solution">
          <input type="text" name="artist" value="ARTIST">
          <br>
          <br>
          <input type="text" name="song" value="SONG">
          <br>
          <br>
          <input type="text" name="dirty_words" value="DIRTY WORDS">
          <br>
          <br>
          <p>Pre-Created Dirty Word List</p>  <input type="checkbox" name="dirty_word_list" value="dirty_word_list">
          <br>
          <br>
          <br>
          <input type="submit" value="Submit">
        </form>
      </section>
    </div>
  </section>
  <!--//End of BODY -->

  <!-- /// FOOTER /// -->
  <footer>

  <!--/// Social Media Footer ///-->
  <section class="wrapper clearfix">
    <div class="social-footer">
      <a href=""><img src="img/twitter-wrap.png" alt="twitter"></a>
      <a href=""><img src="img/facebook-wrap.png" alt="facebook"></a>
      <a href=""><img src="img/linkedin.png" class = "linkedin"></a>
    </div>
  </section>
  <!--/// End of Social Media Footer ///-->
    <p> &copy; 2015 Safe-4-Schools. All Rights Reserved.</p>
  </footer>
  <!-- /// End of FOOTER /// -->
</body>
</html>