@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic);
/* ******************* 
  GLOBAL STYLES 
******************* */
body{
  background-color: #DBEFEB;
  color: #2F4F4F
  height: 100%;
  min-height: 100%;
}

a{
  text-decoration: none;
}

/*#wrapper{
  max-width: 900px;
  margin: 0 auto;
  padding: 2% 5%;
  background: #fff;
  border-radius: 25px;
}*/

*{
  font-family: 'Lato', sans-serif;
  font-weight: 100; 
  margin: 0;
}

img{
  max-width: 75%;
}

.wrapper{
  width: 940px;
  margin: 0 auto;
}


/******************** 
      LAYOUT
********************/
.clearfix:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}


/******************** 
      HEADER
********************/
/*header{
  background: #86C8BA;
  z-index: 99999;
  width: 100%;
}*/

#logo{
  text-align: center;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #FFF;
  text-decoration: none;
  text-shadow: 2px 2px #000;
}

#logo h1{
  font-size: 400%;
  font-weight: 400;
  padding-bottom: 0px;
}

#logo h2{
  font-size: 200%;
  font-weight: 100;
  padding-bottom: 5%;
}

nav a{
  padding-right: 2%;
}

nav a, nav a:visited{
  color: #fff;
}

nav a:hover, a:active{
  text-decoration: underline;
}

nav {
  text-align: right;
  padding:0.5% 2% 0% 0%;
  width: 100%;
  height: 100%;
}

.social img{
  float: left;
  max-height: 2.5em; 
  max-width: 2.5em;
  padding:0.5% 0% 0% 0%;
}

.linkedin{
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/********************
      BODY
********************/
video#background_video{
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
/*background: url(polina.jpg) no-repeat;*/
background-size: cover;
}

.feature{
  color: #fff;
  font-size: 200%;
  font-weight: 300;
  text-shadow: 2px 2px #000;
}

form {
    display: inline-block;
    text-align: center;
    }



/******************** 
      FOOTER
********************/

footer{
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
}

.social-footer img{
  max-width: 3em;
  max-height: 3em;
}

footer.linkedin{
  opacity: 1;
  filter: alpha(opacity=40);
}
/******************** 
      PROJECTS
********************/
.projects{
  margin: 0;
  padding: 0;
}

.projects figure{
  float: right;
  width: 45%;
  margin: 2.5%;

}

/******************** 
      CONTACT
********************/

.wrapper form{
  position: relative;
  float: center;
  width: 70%;
}
.contact div{ 
  width: 900px;
}

form .message{
    margin: 5%;
}